<div class=" uk-position-fixed uk-position-bottom ">
  <div class="uk-width-1-1 cloud"></div>
  <div class="uk-width-1-1 uk-flex uk-flex-around card-menu">

    <div routerLink="" class="uk-flex uk-flex-column uk-flex-middle">
      <i data-feather="home"></i>
      <!-- <small>Início</small> -->
    </div>
    <div routerLink="questions" class="uk-flex uk-flex-column uk-flex-middle">
      <i data-feather="message-square"></i>
      <!-- <small>PPS´s</small> -->
    </div>
    <div routerLink="categories" class="uk-flex uk-flex-column uk-flex-middle">
      <i data-feather="tag"></i>
      <!-- <small>Categorias</small> -->
    </div>
    <div routerLink="meetings" class="uk-flex uk-flex-column uk-flex-middle">
      <i data-feather="check-square"></i>
      <!-- <small>Sessões</small> -->
    </div>
  </div>
</div>