<div class="uk-card uk-card-body uk-flex uk-flex-column uk-text-center uk-flex-around uk-height-viewport">
    <div>
        <form action="" method="post">
            <div class="uk-margin">
                <img src="https://placehold.it/100x70" alt="" srcset="">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-border-rounded" placeholder="Email" type="email" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-border-rounded" placeholder="Password" type="password" min="6" required>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="submit">Entrar</button>
            </div>
        </form>
        <div class="uk-margin">
            <div class="uk-link" routerLink="forgot-password">Esqueci a senha</div>
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-button uk-button-default uk-width-1-1 uk-border-rounded" routerLink="create-account">Criar conta</div>
    </div>
</div>