<header class="uk-background-primary uk-light"
  uk-sticky="dropbar-mode: push; animation: uk-animation-slide-top; cls-active: uk-navbar-sticky uk-box-shadow-small; top: 200">
  <nav class="uk-container" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item uk-padding-remove">
        <h3 class="uk-margin-remove uk-text-primary"><b>SC</b>A<span class="uk-text-light">P</span></h3>
      </div>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item uk-padding-remove">
        <div>
          <i data-feather="user"></i>
        </div>
      </div>
    </div>
  </nav>
</header>