<div class="uk-card uk-card-body uk-flex uk-flex-column uk-text-center uk-flex-around uk-height-viewport">
    <div>

        <form #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin.value)">
            <div class="uk-margin">
                <h1 class="uk-margin-remove uk-text-primary"><b>SC</b>A<span class="uk-text-light">P</span></h1>
            </div>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input ngModel name="email" class="uk-input uk-border-rounded" placeholder="Email" type="email"
                        required>
                </div>
            </div>
            <div class="uk-margin">
                <button type="submit" [disabled]="disableBtn"
                    class="uk-button uk-button-primary uk-border-rounded uk-width-1-1">Recuperar senha</button>
            </div>
        </form>
        <hr>
        <div class="uk-margin">
            <button class="uk-button uk-button-link uk-width-1-1 uk-border-rounded uk-link" [disabled]="disableBtn"
                routerLink="/login">Fazer Login</button>
        </div>
    </div>
</div>